# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Mac OS
.DS_Store

# Build artifacts
*.egg-info/
dist/
build/
*.so
